
 





body {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
background-image: url("https://media.giphy.com/media/o0vwzuFwCGAFO/giphy.gif");
 

    background-width:  2000px;
}




body {
	background-color: red;
}